*.rpyc
*.rpa
*.rpymc
.vscode
log.txt
error.txt
game/cache/*
game/saves/*
/eng_scripts
traceback.txt
.android.json
characters/yuri.chr
characters/sayori.chr
characters/monika.chr
errors.txt
game/saves/navigation.json
desktop.ini

*~
*.rpyc
*.rpyb
*.bak
*.pyc
*.swp
log.txt
traceback.txt
errors.txt
firstrun
*.chr
*.rpa
game/audio.rpa
*.save
game/saves/persistent
IPGuidelines.md
*.rpa
game/screens.rpyc
old_persistent.txt
merged_persistent.txt
game/screens.rpyc
project.json
*.chr
*.rpyc
.DS_Store
zzzz*
.vscode